---
layout: default
---

<nav>
    <ul>
        <a href="/" class="navbar-logo">
            <img src="/assets/images/taurus_bull_alpha.png" alt="Logo">
        </a>
        <li><a href="#section1" data-link="section1">Science</a></li>
        <li><a href="#section2" data-link="section2">Instrument</a></li>
        <li><a href="#section3" data-link="section3">Publications</a></li>
        <li><a href="#section4" data-link="section4">People</a></li>
        <li><a href="#section5" data-link="section5">Updates</a></li>
        <!-- Add more sections as needed -->
    </ul>
</nav>

<div class="splash-container">
    <img src="/assets/images/elle.jpg" alt="Splash Image" class="splash-image">
    <div class="splash-overlay">
        <h1 class="splash-title">Taurus</h1>
        <h2 class="splash-subtitle">A balloon-born Cosmic microwave background telescope for measuring tau</h2>
        <a href="#section1" class="scroll-down-arrow">╲╱</a>
    </div>
</div>

{% assign science = site.pages | where: "path", "science.md" | first %}
<section id="section1" data-section="section1">
    <h2>Science</h2>
    {{ science.content }}
</section>

{% assign instrument = site.pages | where: "path", "instrument.md" | first %}
<section id="section2" data-section="section2">
    <h2>Instrument</h2>
    {{ instrument.content }}
</section>

<section id="section3" data-section="section3">
    <h2>Publications</h2>
    list of recent publicataions, link to more that dont fit in reasonable space
</section>

<section id="section4" data-section="section4">
    <h2>Collaborators</h2>
    People
</section>


<section id="section5" data-section="section5">
    <h2>Updates</h2>
    list of recent blogposts, link to more that dont fit
</section>

<footer>
    <p>Thank you for visiting!</p>
</footer>

<script src="/assets/scripts/coode.js"></script>